body{
  box-sizing:border-box;
  background-color: #e3edff !important;
}
p{
  margin: 0px !important;
}
.app{
  display: flex;
}
.app-side-menu{
  flex: 0 0 20%;
}
.app-main{
  flex: 0 0 80%;
}
@media screen and (max-width: 991px) {
  .app-side-menu{
    display: none;
  }
  .app-main{
    flex: 0 0 100%;
  }
}